<!DOCTYPE html>
<html>

<head>
  <title>TLE Scraper</title>
</head>

<body>
  <h1>TLE Scraper</h1>
  <p>Here are the TLE text files that have been scraped so far:</p>
  <ul>
    {% for file in files %}
    <li><a href="{{ file }}">{{ file }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>